h2 {
    position: relative;
    left: 20px;
    top: 10px;
}

.card {
    font-style: italic;
    font-size: larger;
    border-radius: 15px;
 
}

img {
    border-radius: 15px;
    height: 200px;
}

.card-photo {
    cursor: pointer;
}

.card-photo {
   border: 1px solid #888888 ;
}
